{% extends "base.html" %}
{% block content %}
<div class="container" style="width:640px">
    <h1> {{ user.username }}'s courses record </h1>
    <hr />
    {% include "_source.html" with source=coursera source_name='coursera' %}
    {% include "_source.html" with source=codecademy source_name='codecademy' %}
    {% include "_source.html" with source=codeschool source_name='codeschool' %}
    <div class="continue well">
        <a class="btn btn-success btn-small" href="/resume/{{user.id}}">Continue</a>
        to view your emueser page
    </div>
</div>
{% endblock %}
